footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  margin-top: 50px;
}

.key-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.key-block {
  width: 45px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d3d6da;
  font-weight: bold;
  font-size: 25px;
  border-radius: 4px;
  padding-bottom: 2px;
}

.key-block__enter {
  width: 70px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d3d6da;
  font-weight: bold;
  font-size: 13px;
  border-radius: 4px;
  padding-bottom: 2px;
}

.key-block__backspace {
  width: 70px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d3d6da;
  border-radius: 4px;
  padding-bottom: 2px;
}

.key-block__backspace img {
  width: 25px;
  padding-top: 2px;
}
